<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
      <meta charset="utf-8">
      <title>Fast Travel Application</title>
      <style>

        #right-panel {
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 0px;
        }

        #right-panel select, #right-panel input {
            font-size: 15px;
        }

        #right-panel select {
            width: 100%;
        }

        #right-panel i {
            font-size: 12px;
        }

        #map {
            height: 485px;
            width: 63%;
            display: inline-block;
        }

        #right-panel {
            width: 35%;
            height: 485px;
            display: inline-block;
            overflow: auto;
        }

        ::-webkit-input-placeholder {
           text-align: center;
        }

        :-moz-placeholder { /* Firefox 18- */
           text-align: center;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           text-align: center;
        }

        :-ms-input-placeholder {
           text-align: center;
        }

       </style>
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    {% extends "layout.html" %}
    <h3>My Google Maps Demo</h3>
    {% block content %}
        {% if user.is_authenticated %}
            <div>
                <p class="display-4">Hello, {{ user.username }} <a class="lead" href="{% url 'logout' %}">Logout</a></p>
            </div>
            <div id="map"></div>
            <div id="right-panel">
                <p>Total Walking Distance: <span id="total-walking-distance"></span></p>
                <p>Total Transit Time: <span id="total-transit-time"></span></p>
                <p>Approx. Total Trip Time: <span id="total-trip-time"></span></p>
            </div>
            <script>
                function sleep(ms) {
                  return new Promise(resolve => setTimeout(resolve, ms));
                }
                async function initMap() {
                    var geocoder;
                    var map;
                    var infowindow;
                    var lat, lng;
                    var service;
                    // Use waypoints to store intermediate locations
                    var waypoints = [];
                    var directionsService = new google.maps.DirectionsService;
                    var startLoc = new google.maps.LatLng(56.166854, 15.588349);
                    var destLoc = new google.maps.LatLng(56.1663649,15.5849291);
                    geocoder = new google.maps.Geocoder();
                    map = new google.maps.Map(document.getElementById('map'));
                    var directionsDisplay = new google.maps.DirectionsRenderer({map: map, panel: document.getElementById('right-panel')});
                    var suffix = 'Karlskrona' + ',' + ' Sweden';
                    geocoder.geocode( { 'address': suffix}, function(results, status) {
                      if (status == 'OK') {
                          map.setCenter(results[0].geometry.location);
                          map.setZoom(15);
                          lat = results[0].geometry.location.lat();
                          lng = results[0].geometry.location.lng();
                      } else {
                            alert('Geocode was not successful for the following reason: ' + status);
                      }
                    });
                    await sleep(5000);
                    var location = new google.maps.LatLng(lat, lng);
                    var request = {
                        location: location,
                        radius: '5000',
                        type: ['museum']
                    };
                    // Instantiate an info window to hold distance by foot, train, car, etc. and also like time remaining, etc.
                    infowindow = new google.maps.InfoWindow();
                    service = new google.maps.places.PlacesService(map);
                    service.nearbySearch(request, callback);
                    function callback(results, status) {
                      if (status == google.maps.places.PlacesServiceStatus.OK) {
                        for (var i = 0; i < results.length; i++) {
                          var place = results[i];
                          createMarker(results[i]);
                        }
                      }
                    }
                    placeInitialMarkers(startLoc, destLoc);
                    function computeTotalDistanceAndTime(result) {
                        var totalDistance = 0;
                        var totalTime = 0;
                        var remainingTime = 0;
                        var myroute = result.routes[0];
                        for (var i = 0; i < myroute.legs.length; i++) {
                          totalDistance += myroute.legs[i].distance.value;
                          totalTime += myroute.legs[i].duration.value;
                        }
                        remainingTime = Math.round((totalTime / 3600 + waypoints.length * 2) * 100) / 100;
                        totalDistance = Math.round((totalDistance / 1000) * 100) / 100; // In metres
                        totalTime = Math.round((totalTime / 60) * 100) / 100; // In minutes
                        document.getElementById('total-walking-distance').innerHTML = totalDistance + ' km';
                        document.getElementById('total-transit-time').innerHTML = totalTime + ' mins';
                        document.getElementById('total-trip-time').innerHTML = remainingTime + ' hrs';
                        return;
                    }
                    function getDirections(startLoc, endLoc)    {
                        directionsService.route({
                            origin: startLoc,
                            destination: endLoc,
                            travelMode: 'WALKING',
                            waypoints: waypoints,
                            optimizeWaypoints: true,
                            unitSystem: google.maps.UnitSystem.METRIC
                            },
                            function(response, status) {
                                // Route the directions
                                if (status === 'OK') {
                                    directionsDisplay.setDirections(response);
                                    computeTotalDistanceAndTime(response);
                                    if (endLoc == destLoc)   {
                                    }
                                    else {
                                        waypoints.push({
                                            location: endLoc,
                                            stopover: true
                                        });
                                    }
                                } else {
                                    window.alert('Directions request failed due to ' + status);
                                }
                            }
                        );
                    }
                    function createMarker(place) {
                        var placeLoc = place.geometry.location;
                        var marker = new google.maps.Marker({
                          map: map,
                          position: placeLoc,
                        });
                        google.maps.event.addListener(marker, 'click', function() {
                            infowindow.setContent(place.name);
                            infowindow.open(map, this);
                        });
                        google.maps.event.addListener(marker, 'rightclick', function() {
                            getDirections(startLoc, placeLoc);
                        });
                    }
                    // Places the default start and dest markers
                    function placeInitialMarkers(startLoc, destLoc)  {
                        var startmarker = new google.maps.Marker({
                            position: startLoc,
                            map: map,
                            label: 'A',
                            animation: google.maps.Animation.DROP,
                            draggable:true,
                            title:"Starting Point"
                        });
                        var destmarker = new google.maps.Marker({
                            position: destLoc,
                            map: map,
                            label: 'B',
                            animation: google.maps.Animation.DROP,
                            draggable:true,
                            title:"Destination"
                        });
                        startmarker.addListener('click', toggleBounceOne);
                        destmarker.addListener('click', toggleBounceTwo);
                        destmarker.addListener('rightclick', function() {
                            getDirections(startLoc, destLoc);
                        });
                        function toggleBounceOne() {
                            if (startmarker.getAnimation() !== null) {
                                startmarker.setAnimation(null);
                            } else {
                                startmarker.setAnimation(google.maps.Animation.BOUNCE);
                            }
                        }
                        function toggleBounceTwo()  {
                            if (destmarker.getAnimation() !== null) {
                                destmarker.setAnimation(null);
                            } else {
                                destmarker.setAnimation(google.maps.Animation.BOUNCE);
                            }
                        }
                    }
                }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrWpmAYeddQdpcWnaBpIMN46ZwRX0kG8A&libraries=geometry,places&callback=initMap">
        </script>
        {% else %}
                 <a class="lead" href="{% url 'login' %}">Log in</a>
        {% endif %}
  {% endblock content %}
  </body>
</html>